<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
     <servlet>
     	<description>
     	</description>
     	<display-name>
     	JNLPParamServlet</display-name>
     	<servlet-name>JNLPParamServlet</servlet-name>
     	<servlet-class>
     	uk.ac.liverpool.servlet.JNLPParamServlet</servlet-class>
     </servlet>
     <servlet>
     	<description>
     	</description>
     	<display-name>
     	ZipFiles</display-name>
     	<servlet-name>ZipFiles</servlet-name>
     	<servlet-class>
     	uk.ac.liverpool.servlet.ZipFiles</servlet-class>
     </servlet>
     <servlet-mapping>
     <servlet-name>JNLPParamServlet</servlet-name>
        <url-pattern>*.jnlp</url-pattern>
     </servlet-mapping>
  	<servlet-mapping>
     <servlet-name>ZipFiles</servlet-name>
        <url-pattern>/fab4browser.zip</url-pattern>
     </servlet-mapping>

</web-app>

